{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block carousel_image %}{% static 'img/profile-banner.png' %}{% endblock %}
{% block profile_active %}active{% endblock %}


{% block content %}
<ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
    <li class="nav-item p-1" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
            type="button" role="tab" aria-controls="pills-profile" aria-selected="true">مشخصات کاربری</button>
    </li>
    <li class="nav-item p-1" role="presentation">
        <button class="nav-link" id="pills-tickets-tab" data-bs-toggle="pill" data-bs-target="#pills-tickets"
            type="button" role="tab" aria-controls="pills-tickets" aria-selected="false">برچسب ها</button>
    </li>
    <li class="nav-item p-1" role="presentation">
        <button class="nav-link" id="pills-snippets-tab" data-bs-toggle="pill" data-bs-target="#pills-snippets"
            type="button" role="tab" aria-controls="pills-snippets" aria-selected="false">تکه&#8204;کد ها</button>
    </li>
    <li class="nav-item p-1" role="presentation">
        <button class="nav-link disabled" id="pills-settings-tab" data-bs-toggle="pill" data-bs-target="#pills-settings"
            type="button" role="tab" aria-controls="pills-settings" aria-selected="false">تنظیمات</button>
    </li>
    <li class="nav-item p-1" role="presentation">
        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">خروج</button>
    </li>
</ul>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        {% crispy form %}
        <br>
        <h4>تغییر رمز ورود</h4>
        <p>برای تغییر رمز کاربری، <a href="{% url 'change_password' %}">اینجا</a> را کلیک کنید.</p>
    </div>
    <div class="tab-pane fade" id="pills-tickets" role="tabpanel" aria-labelledby="pills-tickets-tab">
        {% if tickets %}
        <h5>تا امروز، تعداد {{tickets.count}} برچسب ایجاد کردید!</h5><br>
        {% for ticket in tickets %}
        <div class="card shadow-sm mb-3">
            <div class="card-body text-dark">
                <a href="{{ticket.get_absolute_url}}" class="stretched-link"></a>
                <h5 class="card-title">{{ticket.title}}
                    {% if ticket.is_valid == "approved" %}
                    <span class="badge bg-success">منتشر شد!</span>
                    {% elif ticket.is_valid == "rejected" %}
                    <span class="badge bg-danger">رد شد!</span>
                    {% else %}
                    <span class="badge bg-secondary">در حال بررسی..</span>
                    {% endif %}
                </h5>
                <p class="card-text">{{ticket.description}}</p>
                <p class="card-text"><small class="text-muted">ثبت شده در {{ticket.created_on |date:'Y.m.d'}}</small>
                    {% for tag in ticket.tags.all %}
                    <small class="badge text-primary" style="direction: ltr;">{{tag.name}}#</small>
                    {% endfor %}
                </p>
            </div>
        </div>
        {% endfor %}
        {% else %}

        <p align="center">هنوز برچسبی ایجاد نکردید! :(</p>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="pills-snippets" role="tabpanel" aria-labelledby="pills-snippets-tab">

        {% if snippets %}
        <h5>تا امروز، تعداد {{snippets.count}} تکه&#8204;کد ساختید!</h5><br>
        {% for snippet in snippets %}
        <div class="card shadow-sm mb-3">
            <div class="card-body text-dark">
                <a href="{{snippet.get_absolute_url}}" class="stretched-link"></a>
                <h5 class="card-title">{{snippet.title}}</h5>
                <p class="card-text">{{snippet.description}}</p>
                <p class="card-text"><small class="text-muted">ثبت شده در {{snippet.created_on |date:'Y.m.d'}}</small>
                    &#160;<img width="20" src="{% static 'img/icons/material/'|add:snippet.lang|add:'.svg' %}"
                        alt="{{snippet.lang}}">
                </p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p align="center">هنوز تکه&#8204;کدی ایجاد نکردید! :(</p>
        {% endif %}

    </div>
    <div class="tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">...</div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">خروج از حساب کاربری</h5>
            </div>
            <div class="modal-body">
                آیا واقعا می خواهید از حساب خود خارج شوید؟!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">خیر</button>
                <a href="{% url 'logout' %}" type="button" class="btn btn-danger" role="button">بله</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}