[dir="rtl"] .admin-interface,
[dir="rtl"] .admin-interface * {
  font-family: "samim", system-ui, -apple-system, "Segoe UI", "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  box-sizing: border-box;
}

@font-face {
  font-family: "samim";
  src: url("../fonts/Samim/Samim-FD.woff") format("woff"),
    url("../fonts/Samim/Samim-FD.ttf") format("truetype");
}

@media (min-width: 768px) {
  .admin-interface .aligned .form-row .checkbox-row label {
    margin: 0 0 0 10px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 0;
  }
}
