asgiref==3.2.5
backcall==0.1.0
beautifulsoup4==4.8.2
decorator==4.4.2
Django==3.0.4
django-ckeditor==5.9.0
django-js-asset==1.2.2
django-pygmentify==0.3.7
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
ipython==7.13.0
ipython-genutils==0.2.0
jdatetime==3.6.2
jedi==0.16.0
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.6.1
pytz==2019.3
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
traitlets==4.3.3
wcwidth==0.1.9
