asgiref==3.2.5
astroid==2.3.3
autopep8==1.5.1
backcall==0.1.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
decorator==4.4.2
Django==3.0.4
django-ckeditor==5.9.0
django-js-asset==1.2.2
django-pygmentify==0.3.7
django-rest-auth==0.9.5
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
itypes==1.1.0
jdatetime==3.6.2
jedi==0.16.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycodestyle==2.5.0
Pygments==2.6.1
pylint==2.4.4
pytz==2019.3
PyYAML==5.4
requests==2.23.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
traitlets==4.3.3
uritemplate==3.0.1
urllib3==1.25.8
wcwidth==0.1.9
wrapt==1.11.2
