{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block meta %}{% endblock %}

  <link rel="shortcut icon" type="image/icon" href="{% static 'snippet/img/fav.ico' %}">
  <link rel="stylesheet" href="{% static 'snippet/css/bootstrap-rtl.min_.css' %}">
  <link rel="stylesheet" href="{% static 'snippet/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'snippet/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'snippet/css/vs.css' %}">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="{% static 'snippet/js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'snippet/js/popper.min.js' %}"></script>
  <script src="{% static 'snippet/js/bootstrap.min.js' %}"></script>
  <title>کد هاب • {% block title %}{% endblock %}</title>
</head>

<body>

  <nav  class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <a class="navbar-brand" href="/">
      <img src="{% static 'snippet/img/logo.png' %}" width="45" height="45" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block home %}{% endblock %}">
          <a class="nav-link" href="{% url 'home' %}">خانه</a>
        </li>
        <li class="nav-item {% block new %}{% endblock %}">
          <a class="nav-link" href="{% url 'new' %}">جدید</a>
        </li>
        <li class="nav-item {% block documentation %}{% endblock %}">
          <a class="nav-link" href="{% url 'documentation' %}">مستندات</a>
        </li>
        <li class="nav-item {% block team %}{% endblock %}">
          <a class="nav-link" href="{% url 'team' %}">تیم کد هاب</a>
        </li>
      </ul>
      <span class="navbar-text">
          کد هاب در <a href="https://github.com/lnxpy/codehub" target="_blank"><span class="fa fa-github-alt"></span></a>
      </span>
    </div>
  </nav>

  <main>
    <div class="d-flex justify-content-center">
      <div class="col-md-8 p-5">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </main>

  <footer>
    <div class="container">
      <div class="context">
        <strong>کد هاب</strong> ساخته شده با <span class="fa fa-heart"></span>
      </div>
    </div>
  </footer>
</body>

</html>
