{% extends "snippet/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block meta %}
<!-- Primary Meta Tags -->
<meta name="description" content="ساخت اسنیپ جدید.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{% url 'new' %}">
<meta property="og:title" content="کد هاب • ساخت اسنیپ جدید">
<meta property="og:description" content="ساخت اسنیپ جدید.">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{% url 'new' %}">
<meta property="twitter:title" content="کد هاب • ساخت اسنیپ جدید">
<meta property="twitter:description" content="ساخت اسنیپ جدید.">
{% endblock %}

{% block title %}
ساخت اسنیپ جدید
{% endblock %}

{% block new %}
active
{% endblock %}

{% block content %}
<form method="POST" class="post-form" spellcheck="false">{% csrf_token %}
  <div class="form-group">
    <label for="title">عنوان <span id="req">*</span></label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
  </div>

  <div class="form-group">
    <label for="detail">توضیحات بیشتر</label>
    <textarea class="form-control" rows="8" name="detail" placeholder="Details"></textarea>
  </div>

  <div class="form-group">
    <label for="script">اسکریپت <span id="req">*</span></label>
    <code>
    <textarea class="form-control" rows="8" name="script" placeholder="Script"></textarea>
    </code>
  </div>

  <div class="form-group">
    <label for="script">خطا</label>
    <code>
    <textarea class="form-control" rows="8" name="error" placeholder="Error"></textarea>
    </code>
  </div>

  <div class="form-group">
    <label for="language">زبان برنامه نویسی <span id="req">*</span></label>
    {{ form.language|add_class:"custom-select" }}
  </div>
  <br>
  <div class="form-group">
    <button type="submit" class="btn btn-outline-secondary">بساز</button>
    <button type="reset" class="btn btn-outline-danger">پاک کن</button>
  </div>
</form>
{% endblock %}