{% extends "snippet/base.html" %}
{% load pygmentify_tags %}
{% load static %}

{% block meta %}
<!-- Primary Meta Tags -->
<meta name="description" content="اگه می تونید مشکل رو حل کنید و دوستتون رو راهنمایی کنید وارد لینک شید.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{% url 'show' snippet.SID %}">
<meta property="og:title" content="کد هاب • کد {{snippet.SID}}">
<meta property="og:description" content="اگه می تونید مشکل رو حل کنید و دوستتون رو راهنمایی کنید وارد لینک شید.">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{% url 'show' snippet.SID %}">
<meta property="twitter:title" content="کد هاب • کد {{snippet.SID}}">
<meta property="twitter:description" content="اگه می تونید مشکل رو حل کنید و دوستتون رو راهنمایی کنید وارد لینک شید.">
{% endblock %}

{% block title %}
کد {{snippet.SID}}
{% endblock %}

{% block content %}
<h2 id="myInput">{{snippet.title}}</h2>
<hr>
{% if snippet.detail %}
<p>{{snippet.detail}}</p>
{% endif %}

<div class="code-block">
  {% pygmentify %}
  <pre class="{{snippet.language}}">{{snippet.script}}</pre>
  {% endpygmentify %}
</div>

<p class="date">{{snippet.pub_date}}</p>
{% endblock %}
