{% extends "snippet/base.html" %}
{% load pygmentify_tags %}
{% load static %}

{% block meta %}
<!-- Primary Meta Tags -->
<meta name="description" content="{{snippet.detail}}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{% url 'show' snippet.SID %}">
<meta property="og:title" content="کد هاب • {{snippet.title}}">
<meta property="og:description" content="{{snippet.detail}}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{% url 'show' snippet.SID %}">
<meta property="twitter:title" content="کد هاب • {{snippet.title}}">
<meta property="twitter:description" content="{{snippet.detail}}">
{% endblock %}

{% block title %}
{{snippet.title}}
{% endblock %}

{% block content %}
<h3 id="myInput">{{snippet.title}}</h3>
<hr>
{% if snippet.detail %}
<p>{{snippet.detail | linebreaks}}</p>
{% endif %}

<div class="code-block rounded">
  {% pygmentify %}
  <pre class="{{snippet.language}}">{{snippet.script}}</pre>
  {% endpygmentify %}
</div>

{% if snippet.error %}
<div class="separator"><span>خطا</span></div>
<div class="code-block rounded">
  {% pygmentify %}
  <pre class="{{snippet.language}}">{{snippet.error}}</pre>
  {% endpygmentify %}
</div>
{% endif %}

<p class="date"><span class="date">{{snippet.pub_date}}</span> -- کد خطا <span class="right-side-header snippetid"
    title="Copy Text" id="text" onclick="copyElementText(this.id)">{{snippet.SID}}</span></p>
{% endblock %}