@font-face {
    font-family: vazir;
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: vazir;
}

.crispy-form-item {
    margin: 10px;
}

.new-feature-badge {
    background: rgb(255,0,204);
    background: linear-gradient(204deg, rgba(255,0,204,1) 0%, rgba(0,16,255,1) 100%); 
}