@font-face {
    font-family: vazir;
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ubuntumono;
    src: url('../fonts/ubuntu/UbuntuMono-Regular.ttf') format('truetype');
}

body {
    font-family: vazir;
}

.crispy-form-item {
    margin: 10px;
}

.new-feature-badge {
    background: rgb(255,0,204);
    background: linear-gradient(204deg, rgba(255,0,204,1) 0%, rgba(0,16,255,1) 100%); 
}

.code-snippet {
    text-align: left;
    font-family: ubuntumono;
    text-decoration: none;
    direction: ltr;
}

.pre-snippet {
    font-size: 17px;
    background-color: #292d3e;
    padding: 17px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

.code-snippet-lang {
    position: absolute;
    right: auto;
    top: auto;
    width: 35px;
    padding: 4px;
    background-color: #fff;
    border-radius: 20px;
    margin: 8px;
    transition: opacity .3s;
}

.code-snippet-lang:hover {
    opacity: 0.1;
}