{% extends '_base.html' %}
{% load static %}

{% block development_active %}active{% endblock %}

{% block content %}
<h4>کد هاب برای توسعه دهندگان</h4>
<p>
    ما علاوه بر تمام خدماتی که در اختیار شما قرار دادیم، یک سرویس Rest API هم برای توسعه دهندگان و برنامه نویس ها ایجاد
    کردیم تا به راحتی از خدمات کد هاب، روی هر پلتفورمی استفاده کنند و اپلیکیشن های خودشون رو توسعه بدن. از لیست زیر،
    داکیومنت مورد نظر خودتون رو بررسی کنید.
</p><br>

<div class="list-group" dir="ltr">
    <a href="{% url 'api_docs_v1' %}" class="list-group-item list-group-item-action active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">CodeHub Restful API Service Documentation - ReDoc</h5>
            <small>نسخه ۱.۰</small>
        </div>
        <p class="mb-1">Codehub provides users/devs multiple restful API services. This restful service allows
            developers to work with CodeHub Web Services on any platform and machine. Make sure you follow the
            documentation and observe all conditions and requirements.</p>
        <small class="badge bg-light text-primary">Stable</small>
    </a>

    <a href="{% url 'api_docs_v1' %}" class="list-group-item list-group-item-action disabled">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">CodeHub Restful API Service Documentation - ReDoc</h5>
            <small>نسخه ۲.۰</small>
        </div>
        <p class="mb-1">Codehub provides users/devs multiple restful API services. This restful service allows
            developers to work with CodeHub Web Services on any platform and machine. Make sure you follow the
            documentation and observe all conditions and requirements.</p>
        <small class="badge bg-light text-danger">Development</small>
    </a>
</div>
{% endblock %}