{% extends '_base.html' %}
{% load static %}

{% block download_active %}active{% endblock %}
{% block title %}کد هاب در دیگر پلتفورم ها{% endblock %}

{% block content %}
<h4>کد هاب در دیگر پلتفورم ها</h4>
<p>
    به راحتی با استفاده از دیگر محصولات تیم کد هاب، به تمامی سرویس ها و قابلیت ها، در دیگر پلتفورم ها دسترسی داشته
    باشید.
</p>

<div class="row text-center">
    <div class="col-sm p-2"></div>
    <div class="col-sm p-2"></div>
    <div class="col-sm p-2">
        <button type="button" class="btn btn-outline-primary disabled"><span class="fa fa-android">
                اندروید</span></button>
    </div>
    <div class="col-sm p-2">
        <button type="button" class="btn btn-outline-primary disabled"><span class="fa fa-windows">
                ویندوز</span></button>
    </div>
    <div class="col-sm p-2">
        <button type="button" class="btn btn-outline-primary disabled"><span class="fa fa-apple"> آی او
                اس</span></button>
    </div>
    <div class="col-sm p-2"></div>
    <div class="col-sm p-2"></div>
</div>
{% endblock %}