{% extends '_base.html' %}
{% load static %}

{% block content %}
<h3>سرویس متن باز و رایگان کد هاب!</h3>
<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
    روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
    ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد،
    تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
    کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان
    مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
</p><br>
<p align="center" class="text-muted">جدید ترین برچسب ها</p>
{% for ticket in tickets %}
<div class="card shadow-sm mb-3">
    <div class="card-body text-dark">
        <a href="{{ticket.get_absolute_url}}" class="stretched-link"></a>
        <h5 class="card-title">{{ticket.title}}</h5>
        <p class="card-text"><small class="text-muted">ثبت شده در {{ticket.created_on |date:'Y.m.d'}}</small>
        </p>
    </div>
 </div>
{% endfor %}
{% endblock %}