{% extends '_base.html' %}
{% load static %}

{% block carousel_image %}{% static 'img/home-banner.png' %}{% endblock %}

{% block content %}
<h3>سرویس متن&#8204;باز و رایگان کد هاب!</h3>
<p>
    کُد هاب (به انگلیسی CodeHub) اولین سرویس متن نشان پارسیه که بصورت متن باز در پلتفورم گیت هاب در حال توسعه و بزرگ
    شدنه. در توسعه این سرویس، از چارچوب Django بعنوان بک&#8204;اند و Bootstrap بعنوان فرانت&#8204;اند استفاده شده.
</p><br>

<div class="container">
    <div class="row">
        <div class="col">
            <figure class="text-center">
                <img src="{% static 'img/figure.png' %}" class="figure-img img-fluid" alt=".." width="700"
                    style="pointer-events: none;">
                <figcaption class="figure-caption">کد هاب، ساخته شده با استفاده از جنگو و بوت استرپ</figcaption>
            </figure>
        </div>
    </div>
</div><br>

<h4>مشارکت در پروژه</h4>
<p>
    کد هاب بصورت متن باز در حال توسعه هست. این به این معنیه که هر توسعه دهنده ای میتونه در گسترش این پروژه سهیم باشه.
    برای وارد شدن به گیت هاب این پروژه، کافیه تنها روی عکس زیر کلیک کنید. در ضمن، <b>تمامی پول رکوئست های ساخته شده توسط
        شما، قابل ستایش و قدردانیه</b>. با ستاره دادن و حمایت از پروژه، به بزرگتر شدن کامیونیتی متن باز ایران کمک کنید.
</p><br>

<div class="container">
    <div class="row">
        <div class="col">
            <figure class="text-center">
                <a href="https://github.com/codehub-ir/codehub" target="blank">
                    <img src="https://github-readme-stats.vercel.app/api/pin/?username=codehub-ir&repo=codehub&show_owner=true&theme=buefy&title_color=1f00ff"
                        class="figure-img img-fluid" alt="Repository">
                </a>
                <figcaption class="figure-caption">مخزن اصلی کد هاب در گیت هاب</figcaption>
            </figure>
        </div>
    </div>
</div><br>

<h4>کمی درباره من..!</h4>
<p>
    نسخه قبلی کد هاب، اولین پروژه جنگویی من بعد از ۲ ماه شروع سفر من در جنگو بود. پر از باگ های امنیتی، مشکلات دیزاین
    و.. اما بعد از مدتی حسابی کار کردن روی نسخه جدید، با فیچر های نو و قابلیت های خفن، دوباره کد هاب رو سر پا کردم تا
    خدمتی (هرچند کوچک) به جامعه متن باز ایران کرده باشم. بزرگترین هدف من بعنوان توسعه دهنده اصلی کد هاب، ترویج فرهنگ
    نشر
    دانشه.
</p>
<p>من <b>علیرضا یحیی پور</b> هستم. برنامه نویس پایتون و توسعه دهنده نرم افزار متن باز، علاقهمند به یادگیری ماشین و
    خالق کد هاب. برای‌ آشنایی بیشتر با من، گیت هاب من رو از لینک زیر دنبال کنید. :)</p><br>

<div class="container">
    <div class="row">
        <div class="col">
            <figure class="text-center">
                <a href="https://github.com/lnxpy" target="blank">
                    <img src="https://github-readme-stats.vercel.app/api?username=lnxpy&show_icons=true&theme=buefy&title_color=1f00ff"
                        class="figure-img img-fluid" alt="Profile">
                </a>
                <figcaption class="figure-caption">پروفایل من در گیت هاب</figcaption>
            </figure>
        </div>
    </div>
</div><br>

<p>در نهایت، بسیار سپاسگزارم از تمام کسانی که طی این سال ها حامی و مشوق من بودن و همیشه بدون هیچ چشم داشتی، در کنارم
    حضور داشتن. ممنونم از همه دوستانی که کد هاب رو حمایت کردن و در توسعه این پروژه، نقش داشتند.</p><br>

<div class="container">
    <div class="row">
        <div class="col">
            <figure class="text-center">
                <a href="https://github.com/codehub-ir/codehub/contributors" target="blank">
                    <img src="https://contrib.rocks/image?repo=codehub-ir/codehub" class="figure-img img-fluid"
                        alt="Contributors">
                </a>
                <figcaption class="figure-caption">توسعه دهندگان</figcaption>
            </figure>
        </div>
    </div>
</div><br>

{% if tickets %}
<p align="center" class="text-muted">جدید ترین برچسب ها</p>
{% for ticket in tickets %}
<div class="card shadow-sm mb-3">
    <div class="card-body text-dark">
        <a href="{{ticket.get_absolute_url}}" class="stretched-link"></a>
        <h5 class="card-title">{{ticket.title}}</h5>
        <p class="card-text"><small class="text-muted">ثبت شده در {{ticket.created_on |date:'d-m-Y'}} توسط
                {{ticket.created_by}}</small>
        </p>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}