{% extends '_base.html' %}
{% load static %}
{% load pygmentify_tags %}

{% block meta_og_title %}{{snippet.title}}{% endblock %}

{% block meta_description %}{{snippet.description}}{% endblock %}

{% block meta_og_description %}{{snippet.description}}{% endblock %}

{% block meta_og_url %}{{snippet.get_absolute_url}}{% endblock %}

{% block meta_tw_title %}{{snippet.title}}{% endblock %}

{% block meta_tw_description %}{{snippet.description}}{% endblock %}

{% block meta_tw_url %}{{snippet.get_absolute_url}}{% endblock %}

{% block title %}{{snippet.title}}{% endblock %}

{% block script %}
<script src="{% static 'js/snippet.js' %}"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% pygmentify_css %}">{% endblock %}

{% block content %}
<h3 style="word-wrap:break-word; line-height: 40px;">{{snippet.title}} <button id="text" type="button"
                class="btn btn-sm btn-outline-light text-secondary shadow-sm"
                onclick='copyElementText("{{snippet.get_absolute_url}}")'><span class="fa fa-clipboard"></span> کپی در
                کلیپ&#8204;بورد</button></h3><br>

{% if snippet.description %}
<p style="word-wrap:break-word;">{{snippet.description}}</p>
{% endif %}

{% pygmentify linenos='inline' %}
<img class="code-snippet-lang" src="{% static 'img/icons/material/'|add:snippet.lang|add:'.svg' %}" alt="-">
<pre class="{{snippet.lang}} code-snippet pre-snippet">{{snippet.body}}</pre>
{% endpygmentify %}
<small class="text-muted">ثبت شده در تاریخ {{snippet.created_on | date:'d-m-Y'}}</small>
{% endblock %}