{% extends '_base.html' %}
{% load static %}
{% load markdown_extras %}
{% load crispy_forms_tags %}

{% block title %}{{ticket.title}}{% endblock %}

{% block content %}
<h3>{{ticket.title}}</h3>
<p class="text-muted">نوشته شده توسط <a href="#">{{ticket.created_by}}</a> در {{ticket.created_on|date:'d-m-Y'}}</p>

{{ticket.description|markdown|safe}}

{% for tag in ticket.tags.all %}
<small class="badge text-primary m-1"
    style="direction: ltr; border: solid 1px;">{{tag.name}}#</small>
{% endfor %}
<br>

{% if comments %}
<hr>
{% for comment in comments %}
<div class="card shadow-sm border-light mb-3">
    <div class="card-body text-dark">
        <p class="card-title">{{comment.body}}</p>
        <p class="card-text"><small class="text-muted">نوشته شده توسط <a href="#">{{comment.created_by}}</a></small>
                <small class="text-muted" style="float:left">{{comment.created_on|date:'Y-m-d ‍ H:i'}}</small>
        </p>
    </div>
</div>
{% endfor %}
{% endif %}
<br>
{% if ticket.is_valid == 'pending' %}
<div class="card text-white bg-primary mb-3">
    <div class="card-body">
        <h5 class="card-title">برچسب ساخته شده، عمومی نیست!</h5>
        <p class="card-text">برچسب شما در دست بررسی می باشد و تا زمان تایید شدن، تنها برای شما قابل نمایش است.</p>
    </div>
</div>
{% elif ticket.is_valid == 'rejected' %}
<div class="card text-white bg-danger mb-3">
    <div class="card-body">
        <h5 class="card-title">برچسب ساخته شده، عمومی نیست!</h5>
        <p class="card-text">متاسفانه برچسب ساخته شده توسط شما، قابلیت نمایش بصورت عمومی را ندارد.</p>
    </div>
</div>
{% else %}
{% if user.is_authenticated %}
<br>
{% crispy form %}
{% else %}
<h5>جهت ثبت نظر، ابتدا <a href="{% url 'login' %}?next={{ticket.get_absolute_url}}">وارد شوید</a>!</h5>
{% endif %}
{% endif %}
{% endblock %}
